.login {
  width: 100%;
  height: 100vh;
  margin: auto;
  //background-color: green;
  .content {
    display: flex;
    justify-content: space-around;
    .formulaire {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        border: 1px solid green;
        padding: 50px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; */
        .input-data {
          display: flex;
          flex-direction: column;
          gap: 30px;
          input {
            width: 350px;
            height: 35px;
            border: 1px solid #c3c3c3;
            border-radius: 15px;
          }
        }
        .forgot-password{
          
          .forgot-password-link{
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            color: blue;
           
          }
        }
        .submission{
          width: 350px;
          height: 35px;
          background: #008080;
          border-radius: 15px;
          color: #fff;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .submission-apple{
          width: 350px;
          height: 35px;
          background: #008080;
          border-radius: 15px;
          color: #fff;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
        .submission-google{
          width: 350px;
          height: 35px;
          background: #008080;
          border-radius: 15px;
          color: #fff;
          padding: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
      }
    }
  }
}
